<hr>

{{#if editor}}
  <div class="pull-right transversion-actions">
    <button class="btn btn-small btn-primary" onclick={{editCard}}>Edit section</button>
  </div>
{{/if}}

<p class="transversion-summary">
  {{#if payload.summary}}
    {{payload.summary}}
  {{else}}
    <em>This section needs a summary...</em>
  {{/if}}
</p>

<div class="row">
  <div class="col-xs-6 source page">
    {{#if payload.source}}
      {{render-mobiledoc
        mobiledoc=payload.source
        atomNames=(mobiledoc-atom-names)}}
    {{else}}
      <em>This section has a technical issue with its source text. Ask for help!</em>
    {{/if}}
  </div>
  <div class="col-xs-6 transversion facing-page">
    {{#if payload.transversion}}
      {{render-mobiledoc
        mobiledoc=payload.transversion
        atomNames=(mobiledoc-atom-names)}}
    {{else}}
      <em>This section has a technical issue with its source text. Ask for help!</em>
    {{/if}}
  </div>
</div>
