<ol class="breadcrumb">
  <li>{{link-to "Authors" "authors.index"}}</li>
  <li class="active">{{model.name}}</li>
</ol>

<h1>{{model.name}}</h1>

<div class="author-description">
  {{model.description}}
</div>

<h3>Works</h3>

<ul class="nav nav-pills nav-stacked">
  {{#each model.works as |work|}}
  <li>
    {{link-to work.name "works.show" work}}
  </li>
  {{else}}
    <li class="text-warning">
      This author has no works.
    </li>
  {{/each}}
</ul>

<hr>
{{link-to "Edit this author" "authors.edit" model classNames="btn btn-info"}}
