<h1>{{currentUser.name}} - Account Details</h1>

{{#if loggedIn}}

  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>{{currentUser.name}}</dd>

    <dt>Username</dt>
    <dd>{{currentUser.username}}</dd>

    <dt>Campus Role</dt>
    <dd>{{currentUser.lmsRole}}</dd>

    <dt>Email</dt>
    <dd>{{currentUser.email}}</dd>
  </dl>

  <h4>Your groups:</h4>

  <ul class="nav nav-pills nav-stacked">
    {{#each currentUser.groupData as |group|}}
    <li>
      {{#if group.current}}
        <a class="disabled">
          {{group.name}} (active)
        </a>
      {{else}}
        <a href="#" {{action "chooseGroup" group.id}}>
          {{group.name}}
        </a>
      {{/if}}
    </li>
    {{/each}}
  </ul>

{{else}}

  <div class="alert alert-warning">
    You may wish to {{link-to "Log In" "user.login"}}.
  </div>

{{/if}}
