<ol class="breadcrumb">
  <li>{{link-to model.work.author.name "authors.show" model.work.author}}</li>
  <li>{{link-to model.work.name "works.show" model.work}}</li>
  <li class="active">{{model.name}}</li>
</ol>

<h1>{{model.name}}</h1>

{{link-to "Edit text" "works.edit-doc" model class="btn btn-success"}}

{{render-mobiledoc
  mobiledoc=model.content
  cardNames=(mobiledoc-card-names)
  atomNames=(mobiledoc-atom-names)
}}
