<ol class="breadcrumb">
  <li>{{link-to model.work.author.name "authors.show" model.work.author}}</li>
  <li>{{link-to model.work.name "works.show" model.work}}</li>
  <li class="active">Edit {{model.name}}</li>
</ol>

<h1>Editing {{model.name}}</h1>

{{#if model.hasDirtyAttributes}}
  <button class="btn btn-success" {{action "saveChanges"}}>Save changes</button>
  <hr>
{{/if}}

{{#mobiledoc-editor
    atoms=(mobiledoc-atoms-list)
    cards=(mobiledoc-cards-list)
    options=(hash cardOptions=(hash
      createTerm=(action "createRecord" "term")
      createNote=(action "createRecord" "note")
    ))
    on-change=(action "updateAttribute" "content")
    classNames="transversion-page"
    mobiledoc=model.content as |editor|
}}
  <div class="btn-toolbar">
    <div class="btn-group">
      {{#mobiledoc-section-button editor=editor for="h2" classNames="btn btn-default btn-sm"}}
        Heading
      {{/mobiledoc-section-button}}
      {{#mobiledoc-section-button editor=editor for="h3" classNames="btn btn-default btn-sm"}}
        Subheading
      {{/mobiledoc-section-button}}
    </div>
    {{#if allowNewTransversions}}
      <div class="btn-group">
        {{#mobiledoc-transversion-button editor=editor classNames="btn btn-default btn-sm"}}
          Add transversion
        {{/mobiledoc-transversion-button}}
      </div>
    {{/if}}
  </div>
{{/mobiledoc-editor}}
